//= require "normalize"
$defaultFont: 400 16px/24px "Gentium Book Basic", serif
body
  width: 650px
  margin: 2em auto 0
  background: #fdfdfd url("../images/grey.png")
  font: $defaultFont
  line-height: 1.2em

a
  color: inherit
  &:hover
    color: inherit

hr
  margin: 0

header
  text-align: center

h1
  margin: .3em 0

h2, h3, h4, p
  margin: 0

h2
  text-transform: uppercase
  font-size: 1.3em
  margin-top: .75em
  margin-bottom: .15em

.sections
  margin-top: .5em
  .record
    margin-bottom: .5em

ul.items
  margin: .3em 0
  li
    margin-bottom: .1em

p.location
  float: right

p.date
  float: right
  // font-style: italic

ul
  padding-left: 3ex

h3 span.intro
  margin-right: 50px
  float: right
  width: 384px

#download
  float: right
  position: relative
  right: -120px
  top: -1em

@media print
  #download
    display: none